.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: Center 2s infinite ease-in-out;
}

@keyframes Center {
    0% {
        opacity: 10%;
        }
    50% {
        opacity: 15%;
        }
    100% {
        opacity: 10%;
        }
}